.actions {
  margin: 20px 0;
}

.actions-right {
  text-align: right;
}

.action {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background-color: #ddd;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.action .fa {
  margin-right: 5px;
}

.action-constructive {
  background-color: #00ac4d;
  color: white;
}