.resource-actions {
  float: right;
  line-height: 40px;
}

.resource-actions > a, .resource-actions > button, .resource-action {
  text-decoration: none;
  background: #08e;
  color: white;
  padding: 4px 12px 4px 8px;
  border-radius: 2px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 0 4px;
  cursor: pointer;
}

.actions {
  margin: 20px 0;
}

.actions-right {
  text-align: right;
}

.action {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background-color: #ddd;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.action .fa {
  margin-right: 5px;
}

.action-constructive {
  background-color: #00ac4d !important;
  color: white;
}

.action-destructive {
  background-color: #ab3900 !important;
  color: white;
}