.menu {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #d6606d;
  padding: 0 20px;
  line-height: 30px;
}

.menu h2 {
  font-size: inherit;
  display: inline-block;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

.menu ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  line-height: 30px;
}

.menu a:hover {
  background: rgba(0,0,0,.05);
  border-bottom-color: rgba(0,0,0,.1);
}

#mobile-menu-button {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: white;
}

.logout {
  float: right;
  margin-right: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-left: 0;
  border-right: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  line-height: 30px;
  background: transparent;
}

@media (max-width: 600px) {
  .menu .max-width {
    padding: 0 5px;
  }

  .menu ul {
    display: none;
  }

  #mobile-menu-switch:checked + .menu ul {
    display: block;
  }

  .menu ul {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 280px;
    min-width: 150px;
    background: #333;
    overflow-y: auto;
    box-shadow: 20px 0 20px -20px rgba(0,0,0,.25);
    z-index: 3; /* font awesome */
  }

  .menu li {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.05);
  }

  .menu a {
    display: block;
  }
}

@media (min-width: 601px) {
  #mobile-menu-button {
    display: none;
  }
}