.titles-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1000000;
}

.titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

.titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

.titles-content {
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s infinite;
}

.titles-content p {
  text-align: justify;
  margin: 0.8em 0;
  color: #ff6;
}

.titles .center {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

.titles-logo {
  position: absolute;
  top: calc(50% - 48px);
  left: 0;
  right: 0;
  text-align: center;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  animation: intro 4s ease-out;
}

@keyframes intro {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
