.wizard input[type="text"] {
  display: block;
  margin: 8px 0;
  padding: 0 8px;
  line-height: 30px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
}

.wizard textarea {
  width: 100%;
  resize: vertical;
  min-height: 150px;
  padding: 8px;
  border: 1px solid rgba(0,0,0,.15);
}

.wizard .help {
  margin: 10px 0;
  background: #dbf3ff;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.05);
  border-bottom: 2px solid rgba(0,0,0,.1);
  color: #6e695a;
  font-weight: bold;
  font-size: 12px;
}

.wizard .help p {
  margin: 5px 0;
}

.wizard .help p:first-of-type {
  margin-top: 0;
}

.wizard .help p:last-of-type {
  margin-bottom: 0;
}

.wizard .help ul {
  margin: 5px 0;
  padding: 0 0 0 20px;
}

.wizard .help li {
  margin: 5px 0;
}

.wizard .placeholders {
  margin: 10px 25px;
  padding: 0;
}

.wizard .placeholder {
  margin: 15px 0;
}

.wizard .placeholder-type {
  display: inline-block;
  background-color: #ddd;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 2px 6px;
  font-weight: bold;
  font-size: 80%;
  margin: 0 10px;
  transform: translateY(-2px);
}

.input-help {
  font-style: italic;
  font-size: 80%;
  margin: 10px 0;
}

.wizard input[type="number"] {
  width: 65px;
  display: inline-block;
  margin: 8px 0;
  padding: 0 8px;
  line-height: 30px;
  border: 1px solid rgba(0,0,0,.15);
}

.input-unit {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  display: inline-block;
  margin: 3px 15px;
}