.wizard {

}

.wizard label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #444;
  margin: 16px 0 8px 0;
}

.wizard input[type="text"] {
  display: block;
  margin: 8px 0;
  padding: 0 8px;
  line-height: 30px;
  width: 100%;
}

.wizard textarea {
  width: 100%;
  resize: vertical;
  min-height: 150px;
  padding: 8px;
}

.wizard .help {
  margin: 10px 0;
  background: #dbf3ff;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.05);
  border-bottom: 2px solid rgba(0,0,0,.1);
  color: #6e695a;
  font-weight: bold;
  font-size: 12px;
}

.wizard .help p {
  margin: 5px 0;
}

.wizard .help p:first-of-type {
  margin-top: 0;
}

.wizard .help p:last-of-type {
  margin-bottom: 0;
}

.wizard .help ul {
  margin: 5px 0;
  padding: 0 0 0 20px;
}

.wizard .help li {
  margin: 5px 0;
}

.wizard .placeholders {
  margin: 10px 25px;
  padding: 0;
}

.wizard .placeholder {
  margin: 6px 0;
}

.wizard .warnings {
  margin: 10px 0;
  background: #fff9d8;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.05);
  border-bottom: 2px solid rgba(0,0,0,.1);
  color: #6e695a;
  font-weight: bold;
  font-size: 12px;
}

.wizard .warning .fa {
  margin-right: 5px;
}

.wizard .warnings:empty {
  display: none;
}