* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@mixin clear-fix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

a {
  color: #07d;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  background: #fafafa;
  font-size: 16px;
}

.fa {
  font-size: 14px;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.icon {
  margin: 0 4px;
}

.max-width {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

button[title]:not([title=""]) {
  cursor: help;
}

.input-table-info {
  vertical-align: top;
  border-collapse: collapse;
  padding: 0;
  margin: 15px 0;
}

.input-table-info td {
  padding: 8px 10px;
  margin: 0;
  font-size: 14px;
  border: 1px solid #ddd;
}

.input-table-info td:nth-child(2n+1),
.input-label {
  font-weight: bold;
  font-size: 14px;
  color: #07d;
  margin: 24px 0 4px 0;
}

.input-label {
  display: block;
  font-size: 16px;
}

.input-table-info td:nth-child(2n+1) {
  margin: 0;
}

.input-table-info td:nth-child(2n) {
  text-align: right;
}

.input-enum-option {
  padding: 6px 10px;
  border: 1px solid rgba(0,0,0,.05);
  margin: 5px;
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.input-enum-option input {
  margin: 0 6px 0 0;
  display: inline-block;
  line-height: inherit;
  transform: translateY(1px);
}

input {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

textarea {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 15px;
  white-space: pre-wrap;
}

.experiment-description {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 15px;
}

.experiment-description p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.experiment-description p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.key {
  font-size: 13px;
  background: #eee;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom: 2px solid rgba(0,0,0,.2);
  padding: 2px 4px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  min-width: 20px;
  text-align: center;
  margin: 3px;
}

.validation-error {
  font-size: 12px;
  font-weight: bold;
  color: #d00;
}

.answer {
  @include clear-fix();
  padding: 8px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.answer:last-child {
  border-bottom: 0;
}

.answer-meta {
  color: #888;
  line-height: 16px;
}

.answer-meta > * {
  display: inline-block;
  margin: 8px 16px 8px 0;
}

.answer-duplicate {
  opacity: .5;
}

.answer-content {
  padding: 8px 0;
}

.answer-feedback {
  margin: 8px 0;
}

.answer-feedback ul {
  margin: 8px 0;
  padding: 0 0 0 25px;
}

.answer-system-response-content {
  margin: 8px 0;
}

.answer-content-image {
  width: 300px;
  border: 1px solid rgba(0,0,0,.1);
  margin: 5px 10px;
  float: left;
  text-align: center;
  font-size: 0;
}

.answer-content-image img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
}

.answer-meta-image {
  margin-left: 330px;
}

.answer-meta-image-url a {
  color: #08e !important;
  font-size: 11px;
}

.answer-meta-image-url a:hover {
  text-decoration: underline !important;
}

.answer-quality {
  display: inline-block;
  margin: 0 3px;
  padding: 3px 6px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  background-color: #eee;
  text-transform: uppercase;
}

.answer-quality-good {
  color: #00ac4d;
  background-color: #84c695;
}

.answer-quality-bad {
  color: #ab3900;
  background-color: #e2ac93;
}

.answer-quality-duplicate {
  color: #333;
  background-color: #eee;
}

@media (max-width: 600px) {
  .answer-content-image {
    display: block;
    width: calc(100% - 20px);
    float: none;
  }

  .answer-meta-image {
    margin: 10px 10px 15px 10px;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.no-display {
  display: none !important;
}

@media (max-width: 600px) {
  .no-mobile {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .mobile-only {
    display: none !important;
  }
}

@import "menu";
@import "content";
@import "list";
@import "actions";
@import "wizard";
@import "loader";
@import "login";
@import "pagination";
@import "dialog";
@import "titles";