* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: #fafafa;
}

.fa {
  font-size: 14px;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.icon {
  margin: 0 4px;
}

.max-width {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

.input-label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #05c;
  margin: 24px 0 4px 0;
}

.input-enum-option {
  padding: 6px 10px;
  border: 1px solid rgba(0,0,0,.05);
  margin: 5px;
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.input-enum-option input {
  margin: 0 6px 0 0;
  display: inline-block;
  line-height: inherit;
  transform: translateY(1px);
}

input {
  font-family: "Source Code Pro", monospace;
  font-size: 85%;
}

textarea {
  font-family: "Source Code Pro", monospace;
  font-size: 85%;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 85%;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 85%;
  border: 1px solid rgba(0,0,0,.1);
  padding: 15px;
  word-wrap: break-word;
}

.key {
  font-size: 13px;
  background: #eee;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom: 2px solid rgba(0,0,0,.2);
  padding: 2px 4px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  min-width: 20px;
  text-align: center;
  margin: 3px;
}

.no-display {
  display: none !important;
}

@media (max-width: 600px) {
  .no-mobile {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .mobile-only {
    display: none !important;
  }
}

@import "menu";
@import "content";
@import "list";
@import "actions";
@import "wizard";
@import "loader";
@import "login";
@import "pagination";
@import "dialog";