* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: #fafafa;
}

.max-width {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 85%;
}

.no-display {
  display: none !important;
}

@media (max-width: 600px) {
  .no-mobile {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .mobile-only {
    display: none !important;
  }
}

@import "menu";
@import "content";
@import "list";
@import "actions";
@import "wizard";
@import "loader";